@import "tailwindcss";

@theme {
  --color-primary: #36e27b;
  --color-background-light: #f6f8f7;
  --color-background-dark: #112117;
  --font-display: "Plus Jakarta Sans", sans-serif;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
}


/* Custom scrollbar hide */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
  min-height: max(884px, 100dvh);
}

html {
  scroll-behavior: smooth;
}

